
Document.Core/obj/Debug/net5.0/Document.Core.csproj.AssemblyReference.cache
Document.Core/obj/Debug/net5.0/Document.Core.assets.cache
Alcheme.WebApi/obj/Debug/net5.0/Alcheme.WebApi.assets.cache
Alcheme.WebApi/obj/Debug/net5.0/Alcheme.WebApi.csproj.AssemblyReference.cache
*.cache
*.cache
